[2020-01-06 22:07] danielpetisme opened #3 "Quarkus reactive programming support"
Quarkus proposes a neat reactive programming model (which can be used side by side with the imperative model).

The objective is to propose to the user to choose the programming model and generate the according templates.

[2020-01-06 22:10] danielpetisme opened #4 "Machine friendly exceptions"
JHipster Spring integrates Zalando problems (more precisely the spring version of the lib) to transform Java exception into machine readable exceptions (ie. HTTP status code + a JSON document).

Quarkus does not provide out of the box such feature. The objective is to emulate the same behavior (or simply try to integrate the vanilla Zalando problem lib) in order to be pluggable to the default fron

[2020-01-06 22:14] danielpetisme opened #5 "Pagination"
Quarkus does not provide out of the box support for Web pagination and does it for the data layer (https://quarkus.io/guides/hibernate-orm-panache#paging).

The objective is to propose a way to intercept the request query string and convert the default `page`, `size` argument used by the frontend into a Quarkus Page for the data layer

[2020-01-06 22:14] danielpetisme opened #6 "OpenAPI/SwaggerUI"
Simply integrate the Quarkus built-in OpenAPI/SwaggerUI into JHipster web pages.

[2020-01-06 22:16] danielpetisme opened #7 "No-SQL Support"
Quarkus proposes a MongoDB support.

The objective is to let the user choose MongoDB as data store and generate the according templates.

[2020-01-06 22:18] danielpetisme opened #8 "Active Record pattern"
Quarkus Hibernate Panache proposes the active record and repository patterns.
Currently only the repository pattern is implemented (because it was the easiest one to duplicate from a JHipster Spring).

The objective is to proposes a new prompt to the user to choose between the 2 patterns and update the templates to generate active records.

[2020-01-06 22:20] danielpetisme opened #9 "Caching"
JHipster Spring proposes to use a dedicated caching solution (hazelcast, ehcache, etc).
As for now, Quarkus only supports infinispan.

The objective is to permit the user to choose between the default Hibernate 2nd level caching or infinispan.

[2020-01-06 22:21] danielpetisme opened #10 "Audit"
JHipster Spring proposes an Audit configuration and UI which is pretty neat.

As for now, Quarkus does not have any alternative so let's be creative 😄

[2020-01-06 22:22] danielpetisme opened #11 "Data migration for users management"
JHipster Spring uses liquibase to init the database.

Quarkus has a flyway extension which could do the job too.

[2020-01-06 22:26] danielpetisme opened #12 "Database Authentication"
Jhipster has an open endpoint to authenticate the user. The user provides credentials then thanks to the `AuthenticationManagerBuilder` and an application defined `UserDetailService` Spring do the authentication. Once successfully authenticated, the application forges a JWT which then be used by the frontend for the next request.

Quarkus authentication extension are exclusive, either you use the

[2020-01-07 08:07] amanganiello90 opened #13 "Support task questions"
Hi @danielpetisme ,
I would you like to contribute to this blueprint, I use already quarkus for my projects.
If you want, you can assigne me some issues. Thanks

[2020-01-07 13:12] amanganiello90 commented on #7
I can start this task

[2020-01-07 13:13] amanganiello90 commented on #3
I can do this.

[2020-01-07 13:14] amanganiello90 commented on #11
I can to this.

[2020-01-07 16:03] cchunduri commented on #13
HI @danielpetisme,

I'm interested to contribute to this project as part of my learning about quarks. Do assign some task to me so that i'll start working on them. Thank you.

[2020-01-08 12:51] amanganiello90 commented on #3
The jhister cli already provides a reactive option.. we have only to add related templates for the generic app (for data layer we have to refer to the other issues)

[2020-01-08 18:38] danielpetisme commented on #13
Sweet!! Do you have some specific point of interests?

[2020-01-08 18:54] amanganiello90 commented on #13
I have commented some issued that I could do. Besides there are some my PR

[2020-01-08 23:29] danielpetisme commented on #3
You right, is 100% templates.

Couple of pointers:
https://quarkus.io/guides/reactive-routes
https://quarkus.io/guides/reactive-sql-clients

Quarkus "reactivity" relies on Vert.x but there is a "callback-free" API for the Web layer so I propose to focus on this one first.

Ping me if you need help, I have couple of contacts.

[2020-01-08 23:39] danielpetisme commented on #11
@amanganiello90 I'll take this one or at least a first version. I should propose something before the end of the week.

[2020-01-08 23:40] danielpetisme commented on #13
@cchunduri do you have experience with JHipster blueprints? just to know which kind of issue I can assign you.

[2020-01-09 08:08] amanganiello90 commented on #7
What is your advice? I read this guide: https://quarkus.io/guides/mongodb
What templates we have to add? Maybe a service and domain classes only? (it isn't as JPA with repository classes)

[2020-01-09 09:14] danielpetisme commented on #7
The service layer shouldn't be impacted by the data persistent choice so we don't need to update it.
You should have a look to:
https://quarkus.io/guides/mongodb-panache
Quarkus proposes the repository pattern and active record. Since JHipster already relies on repository I think it's easier to stay on this pattern in a first version (even if it's not very Quarkus idiomatic)

So basically:
- Gener

[2020-01-09 10:22] amanganiello90 commented on #7
Perfect! Working with reactive nosql database, I thought to use client classes, so the pattern with repository and entity classes was not usefull. But If we want to keep jhipster design, as your advice I use the same standard patter with mongodb-panache. Thanks

[2020-01-09 11:01] danielpetisme commented on #7
"Better done, than perfect" I focus on delievery a 0.0.1 this month so I focus on the big fishes.

[2020-01-09 11:49] amanganiello90 commented on #7
Right! it is the simple agile principle ;)... I did it also in my nodejs blueprint

[2020-01-10 13:24] danielpetisme opened #17 "Integrate Zalando problems"
**Is your feature request related to a problem? Please describe.**
1. JHipster frontend required some predefined JSON documents representing server errors
2. JAX-RS does not provide an Exception-to-JSON system

**Describe the solution you'd like**
Beside `spring-zalando-problem`, Zalando provides also a vanilla lib. Thanks to JAX-RS exception mapping feature, it's not that hard to build this Excep

[2020-01-10 13:25] danielpetisme opened #18 "Replace CacheConcurrencyStrategy.READ_ONLY"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
@Cache(usage = CacheConcurrencyStrategy.READ_ONLY)

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alterna

[2020-01-11 12:32] cchunduri commented on #13
Hi @danielpetisme, I would like to work on pagination for now.

[2020-01-15 23:52] danielpetisme opened #20 "Use Java11 by default"
**Is your feature request related to a problem? Please describe.**
Java8 is EOL end of 2020, plus you can't pretend to be a hipster if you're still on Java8

**Describe the solution you'd like**
Use Java11 and the related language feature rather than Java 8

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-15 23:59] danielpetisme opened #21 "Use @Transactional properly in test methods"
**Is your feature request related to a problem? Please describe.**
When a test is annotated `@Transactional` the data is not commited into the DB thus not visible in the application under test.

**Describe the solution you'd like**
The objective is to use `@Transactional` smoothly without any hacks.

**Describe alternatives you've considered**
The current solution is to manually manage the transac

[2020-01-16 00:01] danielpetisme opened #22 "User Management API"
**Is your feature request related to a problem? Please describe.**
Provide a Quarkus implementation of the User Management API.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other

[2020-01-18 15:45] danielpetisme opened #23 "Configure Maven to package the client app with Quarkus backend"
**Is your feature request related to a problem? Please describe.**
As for now, the frontend application is generated in `src/main/resources/webapp` but not take into account by Quarkus.

**Describe the solution you'd like**
Update the maven pom.xml to trigger the client app building (with prod profile) when running `mvn package`.

**Describe alternatives you've considered**
A clear and concise des

[2020-01-19 14:50] #23 closed

[2020-01-19 14:52] danielpetisme opened #25 "Gradle integration"
**Is your feature request related to a problem? Please describe.**
Gradle is an official option for JHipster, it must be implemented just as Maven is.

**Describe the solution you'd like**
Being able to build a generated application with Gradle.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional con

[2020-01-19 14:53] danielpetisme commented on #12
fix via #16

[2020-01-19 14:53] #12 closed

[2020-01-27 14:39] antmordel commented on #8
I think I can take this one! :)

[2020-01-27 15:57] cchunduri opened #26 "Data migration for Entities"
## Overview of the issue
Creating flyway scripts for entities migration

## Motivation for or Use Case
Write now entities are being failed because there is no related table being generated in DB

# Link to PR (if any)
#11

-   [ * ] Checking this box is mandatory (this is just to show you read everything)

[2020-01-28 10:35] amanganiello90 commented on #22
Hi @danielpetisme , Do you want to provide the user management adding api of [this jhipster template](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs) ? If you want, I can work on this feature.

[2020-01-28 16:08] danielpetisme commented on #22
This is exactly what I want to do and I started already. I have couple of issues I'm dealing with RedHat.
If you want you can start the "Account" part (email registration etc) feel free but otherwise I'm working on it

[2020-01-29 09:32] amanganiello90 commented on #22
ok, I will work on entity generation, thanks.

[2020-03-20 19:29] danielpetisme opened #31 "Upgrade to Quarkus 1.3"
Cutting edge!
https://quarkus.io/blog/quarkus-1-3-0-final-released/

[2020-03-23 07:56] #31 closed

[2020-03-25 22:41] danielpetisme opened #34 "Gracefully manage the exception when anonymous user hitting /api/account"
**Is your feature request related to a problem? Please describe.**
As for now, when a user an anonymous user hits the application homepage it generates a NPE and an ugly stack trace in the appplication logs.

https://github.com/jhipster/jhipster-quarkus/blob/master/generators/server/templates/quarkus/src/main/java/package/web/rest/AccountResource.java.ejs#L147
`/api/account` is not restricted,  a

[2020-03-29 14:05] danielpetisme commented on #34
A first fix have been proposed and after a deeper look, I understood the issue was coming from the Spring to QUarkus testing migration.

1- Spring disable the security during integration testing which permits to hit the `/api/account` despite the fact that the application is configured to refuses non-authenticated users. -> Should return a `401` if a security context is not set (ie. no user define

[2020-03-29 14:06] #34 closed

[2020-03-29 17:52] pascalgrimaud commented on #22
@danielpetisme :
- don't forget to comment the ticket and mention me, so I'm sure you're the one who submitted the expense. By this way, I don't need to check the same mail. For this, it's ok, I checked and approuved the bounty
- then, is this ticket fixed ? As the other PR is merged but this one is not closed ?

[2020-03-30 14:13] danielpetisme commented on #22
Hello @pascalgrimaud
Sorry it's my first bounty, I do confirm the issue is closed by https://github.com/jhipster/jhipster-quarkus/pull/28

Thank you

[2020-03-30 14:13] #22 closed

[2020-03-30 14:15] danielpetisme commented on #11
I rename the issue to split the data migration between:
* the built-in user management
* the user related entities.

The first one is done by #28

[2020-03-30 14:15] #11 closed

[2020-03-30 14:17] danielpetisme commented on #20
Currently the generator use Java11 without any identified issue at least on JVM mode.

Further tests should be done on native mode to know if we can close this issue

[2020-03-30 15:07] danielpetisme commented on #20
Well looks like Quarkus support java11 by default now (even if the upstream issue is open...)
https://quarkus.io/blog/quarkus-1-3-1-final-released/

[2020-04-02 22:16] #26 closed

[2020-04-29 21:11] danielpetisme opened #41 "Support JPA Filtering"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-04 20:28] danielpetisme commented on #8
Fixed via #42

[2020-05-04 20:28] #8 closed

[2020-05-04 20:36] danielpetisme commented on #13
Issue gardening

[2020-05-04 20:36] #13 closed

[2020-05-04 20:37] danielpetisme commented on #20
Using Java11 since a month no issue reported...

[2020-05-04 20:37] #20 closed

[2020-05-06 21:57] mraible opened #47 "Add Auth 2.0 / OIDC Support"
**Is your feature request related to a problem? Please describe.**

Please add OAuth 2.0 / OIDC support. This should be similar to our Spring Boot support in that it does login (on a monolith and gateway) and allows it to act as a resource server as well (for React Native and Ionic apps).

**Describe the solution you'd like**

I'd like to be able to choose OAuth 2.0 / OIDC for authentication, crea

[2020-05-07 08:53] jdubois commented on #47
$500 bug bounty added, as discussed with @mraible 👍

[2020-05-10 19:49] danielpetisme opened #49 "Native testing support"
**Is your feature request related to a problem? Please describe.**
While generating a native executable, the generated project does not provide a support for native executable testing.

This absence of testing is based on 2 limitations:
- Failsafe `3.0.0-M4` does not detect the native test method ( as for now I don't know if it's due to Quarkus or failsafe)
- Native testing does not support `@Inje

[2020-05-10 19:51] danielpetisme commented on #5
Closed

[2020-05-10 19:51] #5 closed

[2020-05-13 09:18] danielpetisme opened #52 "Application docker support"
**Is your feature request related to a problem? Please describe.**
The generator provide the standard Quarkus Dockerfile and also generate the classic JHipster docker files.

**Describe the solution you'd like**
The blueprint should merge and clean Docker files tailored for Quarkus.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-05-25 20:10] sirAlexanderT opened #59 "React variant of generated App UserManagement Broken"
**Describe the bug**
Install as normal, but select react for the front end

**To Reproduce**
Trying to get to the User Management screen results in this

<img width="1668" alt="Screenshot 2020-05-25 at 21 07 07" src="https://user-images.githubusercontent.com/39586746/82840905-246f1c80-9ecc-11ea-8cd0-a07a986cad12.png">

[2020-06-09 16:41] MR-Os1 commented on #47
Hi
could you specify what features in the current version of the jhipster-quarkus is not working so i can have a list to work on ?

[2020-06-14 14:53] danielpetisme commented on #10
https://twitter.com/vlad_mihalcea/status/1272166854891536386?s=19

[2020-08-21 06:02] mraible commented on #25
Can you please add bug bounty labels and amounts to this project and give me permission to assign them? I want to spend Okta's donations! 😀

[2020-08-26 16:00] joewhite101 opened #66 "Upgrade to Quarkus latest release (1.7.0 as of this ticket)"
**Is your feature request related to a problem? Please describe.**
Blueprint should be on the latest

**Describe the solution you'd like**
Blueprint generates a 1.7 quarkus project

**Describe alternatives you've considered**
N/A

**Additional context**
https://github.com/quarkusio/quarkus/releases

[2020-08-26 16:00] joewhite101 commented on #66
I'll work this one but can't assign it to myself. If it can be marked I'll own it.

[2020-08-26 16:02] joewhite101 opened #67 "Upgrade to JHipster latest (6.10.1 as of this writing)"
**Is your feature request related to a problem? Please describe.**
Blueprint should run on JHipster latest

**Describe the solution you'd like**
We should be on the latest JHipster for Quarkus

**Describe alternatives you've considered**
N/A

**Additional context**
https://github.com/jhipster/generator-jhipster/releases

[2020-08-26 16:02] joewhite101 commented on #67
I'll take this one but can't assign to myself. Please assign to me.

[2020-08-26 16:03] joewhite101 commented on #66
Never mind. Already PR'd. Can we merge?
https://github.com/jhipster/jhipster-quarkus/pull/65

[2020-08-26 16:04] joewhite101 commented on #67
Never mind on assignment. Already PR'd.
https://github.com/jhipster/jhipster-quarkus/pull/64

Can we merge?

[2020-08-27 14:24] joewhite101 opened #68 "Add jhipster-quarkus and generated sample projects to JHipster sonar"
**Is your feature request related to a problem? Please describe.**
It would be great to see the jhipster-quarkus and jhipster quarkus example project available on the JHipster sonar.

**Describe the solution you'd like**
Projects show up here:
https://sonarcloud.io/organizations/jhipster/projects

**Describe alternatives you've considered**
N/A

**Additional context**
May require a Sonar admin

[2020-08-27 14:25] joewhite101 commented on #25
Is this one resolved with the merged commits? Or is it something that needs more work?

[2020-08-27 18:17] joewhite101 opened #69 "Update local dev instructions"
**Describe the bug**
There is a very small typo in the README around a cd command. This is to fix the type

**To Reproduce**
View npm link instructions

**Expected behavior**
Instructions have the right command

**Screenshots**
N/A

**Desktop (please complete the following information):**
N/A

**Smartphone (please complete the following information):**
N/A

**Additional context**
N/A

[2020-08-27 18:25] joewhite101 commented on #4
is this one the same as https://github.com/jhipster/jhipster-quarkus/issues/17

[2020-08-27 19:31] danielpetisme commented on #67
Fixed

[2020-08-27 19:31] danielpetisme commented on #66
Fixed

[2020-08-27 19:31] #66 closed

[2020-08-27 19:32] #67 closed

[2020-08-27 19:35] danielpetisme commented on #4
@joewhite101 yes could be considered as duplicate.
The initial issue wasn't assuming any library choice but to be honest I don't know any good alternative to Zalando problems.
In other hands, I don't even know if it's feasible.

I'll close #17 and continue the discussion on this one.

[2020-08-27 19:35] danielpetisme commented on #17
Duplicate of #4

[2020-08-27 19:35] #17 closed

[2020-08-27 19:37] danielpetisme commented on #25
Fixed via #62

[2020-08-27 19:37] #25 closed

[2020-08-28 07:12] joewhite101 commented on #7
Is this covered by this PR?

https://github.com/jhipster/jhipster-quarkus/pull/15

The status on the PR isn't totally clear.

[2020-08-28 07:25] amanganiello90 commented on #7
Hi, the PR is in progress and not completed (you can consider that declined)

[2020-08-28 07:29] #69 closed

[2020-08-28 07:29] joewhite101 commented on #69
Resolved with PR #70

[2020-08-28 07:39] joewhite101 commented on #41
This is related to https://www.jhipster.tech/entities-filtering/

What is the general thinking on this one? I like the JHipster filter format. It is quite powerful and very quick to understand. It would be cool if both quarkus and springboot jhipster services exposed the same filter format even if the underlying query structure is different.

I wonder if it makes sense to map the JHipster filter s

[2020-08-28 09:37] jdubois commented on #41
Indeed, that's a cool feature we have thanks to Spring Data JPA - I guess you can have something similar with Panache, but I'm not sure. Not everybody uses it, so I wouldn't say it's mandatory, but that's definitely added value. Also, this would cause some issues on our front-ends as they expect this behavior from the backend.

[2020-08-28 11:09] joewhite101 opened #71 "Roadmap to add Quarkus blueprint to official blueprints page on the website"
**Is your feature request related to a problem? Please describe.**

It would be great to see the Quarkus blueprint on the Officially Supported Blueprints page: https://www.jhipster.tech/modules/official-blueprints/

Is there a feature set that is missing that we should add to the blueprint to get it added or is it just a matter of adding a PR to the github.io project?

**Describe the solution you'

[2020-08-28 11:11] joewhite101 commented on #71
cc @jdubois and @danielpetisme It would be good if we can add the blueprint since it is in the main github org. But if there is a feature gap then we can get tickets opened.

If we can add it already let me know and i'll updated and create the .io project PR.

[2020-08-28 13:27] joewhite101 opened #72 "Update to Quarkus 1.7.1"
**Is your feature request related to a problem? Please describe.**

Get to quarkus latest release

**Describe the solution you'd like**
Update to 1.7.1 and make sure all the tests pass

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-08-28 13:31] joewhite101 commented on #72
https://github.com/jhipster/jhipster-quarkus/pull/73

[2020-08-30 11:11] joewhite101 commented on #68
@jhipster/developers Can somebody add these two projects to the JHipster sonar or give me the temporary ability to add them? I don't think I have the ability to do it right now.

https://github.com/jhipster/jhipster-quarkus
https://github.com/jhipster/jhipster-sample-app-quarkus

I ran the analysis on the generator on a fork and it was clean (link below). Working on adding the ci for the sample ap

[2020-08-30 11:23] pascalgrimaud commented on #68
I'll take care of this @joewhite101

[2020-08-30 16:42] pascalgrimaud commented on #68
I  added the 2 projects at https://sonarcloud.io/organizations/jhipster/projects

For https://github.com/jhipster/jhipster-quarkus, the Sonar Analysis should be done automatically:
- https://sonarcloud.io/dashboard?id=jhipster_jhipster-quarkus

For https://github.com/jhipster/jhipster-sample-app-quarkus, I added a secret (SONAR_TOKEN) to the repository. A build with GitHub actions need to be done

[2020-08-31 07:46] joewhite101 commented on #68
Thanks @pascalgrimaud I'll close this one and open a new ticket for the CI on the sample project. I played with it this weekend but the build isn't working. Looks like the project needs to be regenerated.

[2020-08-31 07:46] #68 closed

[2020-08-31 07:50] joewhite101 opened #74 "Regenerate and add sample project to CI"
**Is your feature request related to a problem? Please describe.**
The sample project should be updated to a newer version and added to CI (see instructions here https://github.com/jhipster/jhipster-quarkus/issues/68)

**Describe the solution you'd like**
Project includes CI on commits and is integrated with Sonar

**Describe alternatives you've considered**
N/A
**Additional context**
N/A

[2020-08-31 07:58] #72 closed

[2020-09-02 09:38] sgulci opened #76 "after creating app without database, tests are not working"
After creating Quarkus application without a database and cache layer, tests are not working because liqubase config file is not presented

Just run below
    mvn test

and the logs here :

[code]

[2020-09-03 12:38] inngvar commented on #4
I can try to integrate it using https://github.com/cloudstark/quarkus-zalando-problem-extension extension.

[2020-09-07 20:28] danielpetisme commented on #4
Definitively worth to try! Awesome if someone already made the integration.
 I don't see a lot of activity on the project, so if the experimentation is successful I propose we should contact the project authors.
The idea is to be sure we could get some help when people will generate JHipster projects with the zalando extension. Otherwise would make senses to re-implement it (and prevent a coupling

[2020-09-07 20:31] danielpetisme commented on #59
Hello @deepu105 do you have some hints to troubleshoot the above issue. I'm not familiar with React at all and since it's based on the default generation I'm wondering if there is no obvious "configurations" we could have missed.

[2020-09-07 20:36] danielpetisme commented on #76
Indeed, the tests rely on liquibase regardless of the database configuration.
Would definitively make sense to add a guard to prevent data migration related files to be produced.
For instance here
https://github.com/jhipster/jhipster-quarkus/blob/master/generators/server/templates/quarkus/src/test/java/package/web/rest/UserResourceTest.java.ejs#L93
adding
[code]

[2020-09-07 20:39] danielpetisme commented on #71
IMHO, the project can be added right now with a "Work in progress, don't use it in prod"-like disclaimer.
@jdubois Make sense to you?

[2020-09-08 07:47] inngvar commented on #59
I use React, and with current version of generator UserManagement works fine

[2020-09-08 07:52] jdubois commented on #71
Oh yes we should advertise it, but warn people it's not finished. BTW I tried it a couple of days ago, and the native prod build didn't include the front end... So indeed it's not ready for prod :-)

[2020-09-08 07:58] joewhite101 commented on #71
I'll open a ticket for the native FE build. Does the JVM build include the frontend and just the native build doesn't work? Or is the FE not bundled in both cases?

[2020-09-08 08:04] joewhite101 opened #78 "Native prod build doesn't include the front end"
**Describe the bug**
When doing a native build the front end should be available as part of the build. Currently reported that the FE isn't available in a native prod build. From discussion here (https://github.com/jhipster/jhipster-quarkus/issues/71)

**To Reproduce**
Generate project, add entities, run native prod build, start it up.

**Expected behavior**
JHipster frontend is available in the s

[2020-09-08 08:05] joewhite101 commented on #71
@jdubois Added a ticket for the native build issue. If you've got any additional info it is in https://github.com/jhipster/jhipster-quarkus/issues/78

Might be a good one for somebody at JHipster code.

[2020-09-08 08:32] deepu105 commented on #59
Thats strange. You are not modifying the front end right. Also it could be that there is an issue but it only happens when certain conditions are met. I'll take a look when I have time. In the meantime may be compare the exact same config with a default app without blueprint

[2020-09-10 20:23] sgulci commented on #76
will do at the weekend

[2020-09-12 15:24] joewhite101 opened #79 "Support Gradle as a build tool in the Quarkus blueprint"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-12 15:26] joewhite101 opened #80 "Add support for ElasticSearch"
**Is your feature request related to a problem? Please describe.**
By default JHipster supports elastic search integration as an option. Quarkus also supports elastic search. Allow the user to pick and configure elastic search.
https://quarkus.io/guides/elasticsearch

**Describe the solution you'd like**
Support elastic search

**Describe alternatives you've considered**
N/A

**Additional context*

[2020-09-12 15:27] joewhite101 opened #81 "Support embedded h2"
**Is your feature request related to a problem? Please describe.**
Allow users of the blueprint to select embedded h2 as a database

Example and instructions
https://quarkus.io/guides/datasource

**Describe the solution you'd like**
Embedded h2 database works as a datasource and is correctly configured in your quarkus app after running the blueprint

**Describe alternatives you've considered**
N/A

[2020-09-12 15:35] joewhite101 opened #82 "Support AWS lamda for microservice selection"
**Is your feature request related to a problem? Please describe.**
If a user selects microservice for the type of application we could support allowing that microservice to be built and deployed to AWS as a lambda using the quarkus extension.

https://quarkus.io/guides/amazon-lambda
https://quarkus.io/guides/amazon-lambda-http

**Describe the solution you'd like**
The entities that the user create

[2020-09-12 15:44] joewhite101 opened #83 "Add a health check endpoint to the quarkus apps"
**Is your feature request related to a problem? Please describe.**
Enable microprofile health checking by default in quarkus generated apps

https://quarkus.io/guides/microprofile-health
Some design is also required to support the creation of a page dedicated to integrating the checks.

**Describe the solution you'd like**
JHipster health checks are supported in quarkus or a health check solution

[2020-09-12 18:34] joewhite101 opened #84 "Deprecation warning on some choices"
**Describe the bug**
When running the blueprint in some cases the user will get:

[code]

**To Reproduce**
Run on master.  Select the choices below.

[code]

**Expected behavior**
No warnings

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

**Smartphone (please complete the following information):**

**Addition

[2020-09-12 18:35] joewhite101 commented on #76
Hey @sgulci were you able to get to this? If not maybe we can pick it up in the JHipster code day tomorrow. LMK.

[2020-09-12 18:40] joewhite101 opened #85 "Creating a quarkus project without a client fails to start"
**Describe the bug**
When creating a quarkus project without a client the maven project fails to start. The project should support generation without a client.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `jhipster --blueprints quarkus`
2. When prompted for `client` select `none'.
3. Run `./mvnw`

Get error:

[code]
**Expected behavior**
Quarkus JHipster can generate without a client

[2020-09-12 18:43] joewhite101 commented on #85
Should be just a matter of adding a skipClient check around this section of the pom

[code]

[2020-09-12 18:47] sgulci commented on #76
Ohh then you can pickup for jhipster code

[2020-09-14 08:39] joewhite101 commented on #10
@danielpetisme I think the audit UI were taken out for JH 7. Should we still do this do you think? Or is this still useful for the config side alone?

[2020-09-14 11:48] joewhite101 commented on #78
Seems like this is resolved on the latest master. Other issues with FE are captured in other tickets

[2020-09-14 11:48] #78 closed

[2020-09-14 12:57] joewhite101 commented on #52
@danielpetisme Did you have something specific in mind on this one? Looks like you did a lot of this one already. I'll update based on the newest Quarkus dockerfiles but it doesn't look like there are huge differnces.

[2020-09-14 13:26] joewhite101 commented on #59
I think this has been overcome by events. Seems like this is working with the latest generator.

@sirAlexanderT Please try the latest and let us know. I'm closing now but we can reopen if you are still running into issues.

[2020-09-14 13:26] #59 closed

[2020-09-14 13:36] joewhite101 commented on #52
Related https://github.com/jhipster/jhipster-quarkus/pull/88

[2020-09-14 15:36] mraible commented on #47
@MR-Os1 See the [open issues](https://github.com/jhipster/jhipster-quarkus/issues) in this project.

[2020-09-14 18:29] nshaw commented on #76
I made a start on this but could use another pair of eyes on it. This branch eliminates the liquibase errors but I still see 3 skipped tests once it's complete so I don't know if that's acceptable: https://github.com/nshaw/jhipster-quarkus/tree/76-no-db-tests-fail.

[2020-09-15 07:05] pascalgrimaud commented on #10
I think this ticket should be closed
are you ok @danielpetisme ?

[2020-09-15 12:10] avdev4j commented on #84
Yes it's sound strange for me as we use the JHipster CLI and not anything else.

[2020-09-15 12:12] avdev4j commented on #79
It seems that gradle option is already here, could we have to do something more?

[2020-09-15 12:14] avdev4j commented on #74
Im sure to understand well this > he sample project should be added to CI

You mean into the CI generator you want to generate a sample project "on the fly" ?

[2020-09-15 12:15] nshaw commented on #84
I did some testing on it and I'm not understanding why the deprecation warnings show sometimes and not others, even in the same project. I'll try to put a bit more time into it today.

[2020-09-15 12:37] joewhite101 commented on #74
No, we need to add a github action and workflow for the project so that the tests run when it changes. Already have the workflow file in a different ticket. I will attach it

[2020-09-15 12:44] avdev4j commented on #74
Oh yes, I see.

[2020-09-15 14:13] joewhite101 commented on #79
I don't think it is fully supported. Does it work?  I haven't had a chance to test it yet.

[2020-09-15 14:54] avdev4j commented on #6
@danielpetisme do you think the pr from @inngvar is enough? If yes, @inngvar don't forget to claim the bounty.

[2020-09-15 16:16] avdev4j commented on #10
IMO we can close this one as we removed audits for the v7

[2020-09-15 16:56] danielpetisme commented on #10
Since it's removed from the upstream jhipster project, it does not make sense anymore.

For the record, Quarkus has now a Envers extension to support auditability which was not the case when I created the issue. If someone wants to implement, the best option would be a dedicated jhipster module I guess.

[2020-09-15 16:56] #10 closed

[2020-09-16 09:12] avdev4j commented on #81
I've tested and H2 already works as expected as dev database. As we don't use h2 for production mode, it seems we have
nothing to do more.
@joewhite101 WDYT about closing this ticket?

[2020-09-16 09:17] avdev4j commented on #84
Same here, I wonder if this can come from the npm link command. We should tried in a stable environment and install the blueprint with a clean installation (`npm i generator-jhipster-quarkus`).

[2020-09-16 09:41] joewhite101 commented on #81
both in memory and on disk are supported? For some reason I thought we were missing one of them. Need to double check that we're using the appropriate type based on user selection and then we can close.

[2020-09-16 09:46] avdev4j commented on #81
Oh yea, I did not check in details. I can do that this afternoon.

[2020-09-17 11:29] inngvar commented on #6
@jdubois claiming bounty )

[2020-09-17 11:56] jdubois commented on #6
@inngvar don't forget to do it on OpenCollective too, that's where the money comes from. If you need help doing it, just ask!

[2020-09-17 12:38] inngvar commented on #6
@jdubois some help will be helpfull, Do I understand correctly that I need to create an invoice here https://opencollective.com/generator-jhipster/expenses/new, and specify the issue link in the expense title?

[2020-09-17 12:47] jdubois commented on #6
@inngvar yes you need to create an invoice (there should be an example, otherwise you can have a look at https://www.jhipster.tech/bug-bounties/ ). You should also link the issue title so I'm sure it is you (in case someone smart tries to steal the bounty from you - it never happened but we are cautious).

[2020-09-17 14:15] SeaX commented on #85
Also around everything that is related to frontend :p
maven plugins, webpack, statics, ....  I had a look in the following file: https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/pom.xml.ejs

[2020-09-17 14:17] inngvar opened #95 "Support sorting for entities"
**Is your feature request related to a problem? Please describe.**
Sorting not working

**Describe the solution you'd like**
Sorting is working

[2020-09-17 14:19] inngvar commented on #79
let me know if something not working

[2020-09-17 14:20] joewhite101 commented on #85
Yeah I've got a PR for this one that I need to finish:
https://github.com/jhipster/jhipster-quarkus/pull/87

Just a few small updates based on code review left.

[2020-09-17 14:21] joewhite101 commented on #79
If we've done the work and you guys have tested we can close. I was going based on a roadmap document and maybe it was a bit out of date.

[2020-09-17 14:24] avdev4j commented on #79
I've just tested now (by adding the health check dependency) and I think it's done. But I'm not an expert of Gradle.
I was able to run the application, reach out the frontend and connect to the backend.

[2020-09-17 14:45] inngvar opened #96 "Entity update fails with empty values"
**Describe the bug**
Failed to update entity if it have empty value

**To Reproduce**
1. import jdl like
[code]
2. Try to update Person record setting ownerLink to empty value

**Expected behavior**
Entity updated

[2020-09-17 14:53] inngvar opened #97 "Support Metrics Page"
**Is your feature request related to a problem? Please describe.**
Jhipster generated interface has `/admin/metrics `page, but it didn't work

**Describe the solution you'd like**
Metrics page works

[2020-09-17 21:46] mraible commented on #49
@danielpetisme Can you please give me access to add labels to this project? That way I can add some bug bounties.

[2020-09-20 19:15] avdev4j opened #98 "[v7] Update Vue health checks screens"
When the following PR https://github.com/jhipster/jhipster-quarkus/pull/93 will be merged we need to rebase the v7 branch and update Vue screens just like we did in the original PR.

Vue is only available on JHipster master branch while we don't released a first JHipster 7 version.

[2020-09-20 19:20] avdev4j commented on #97
see https://quarkus.io/guides/microprofile-metrics

Maybe we have to enable this option:
https://quarkus.io/guides/microprofile-metrics#quarkus-smallrye-metrics_quarkus.smallrye-metrics.micrometer.compatibility

[2020-09-20 19:23] avdev4j commented on #81
I've checked that both disk and memory work as expected. I don't saw anything wrong. @joewhite101 I let you to check on your side and close it if we consider that's the current state is ok.

[2020-09-20 19:30] avdev4j opened #99 "Update repo name to follow the conventions"
**Describe the bug**
The GitHub repository should be generator-jhipster-quarkus instead of jhipster-quarkus.

**Additional context**
It could help the generator to be correctly indexed on npm repository and on JHipster website (all generators that stat by generator-jhipster-XXX).

[2020-09-20 19:30] #6 closed

[2020-09-22 08:08] #83 closed

[2020-10-04 09:29] inngvar opened #100 "Generating of health page for react frontend did not work"
**Describe the bug**
Unable to generate app with react frontend

**To Reproduce**
try to generate app with react frontend

[2020-10-06 14:16] #100 closed

[2020-10-06 14:17] avdev4j commented on #81
I think this feature work as excepted. I close this ticket for the moment, we could new ones if needed.

[2020-10-06 14:17] #81 closed

[2020-10-06 14:21] avdev4j commented on #99
I can do this one, WDYT @danielpetisme @joewhite101 ?

[2020-10-06 14:47] avdev4j commented on #79
Same here, I close this ticket since it seems that current implementation is working well.

[2020-10-06 14:47] #79 closed

[2020-10-06 16:49] danielpetisme commented on #99
Ok for me

[2020-10-06 16:50] joewhite101 commented on #99
Go for it.

[2020-10-06 19:29] avdev4j commented on #99
I figured out that if we do this we will need to update our local repository to change the upstream to the new one. We don't have a lot of contributors for the moment so it will not be a big issue but we have to know that.

If you have a direct clone (not a fork one) of the repo the command should be

Is it still ok for you?

[2020-10-06 19:36] joewhite101 commented on #99
yeah. Now is the time.

[2020-10-06 19:37] nshaw commented on #99
+1

[2020-10-06 21:40] avdev4j commented on #99
Done, we can update our git config ;)

or if don't use SSH

I suggest to do the same with your fork (it seems to not be mandatory) and rename the origin:

or if don't use SSH

[2020-10-06 21:41] #99 closed

[2020-10-06 21:41] avdev4j commented on #97
I'm taking this one

[2020-10-07 15:55] avdev4j commented on #97
After a quick study of this feature, there is my opinion. We can't add this feature out of the box just by adding the metrics Quarkus dependency.
Metrics send back the backend application are so far different.

**JHipster Spring boot metrics**
<details>
<pre>
{
  "jvm" : {
    "G1 Old Gen" : {
      "committed" : 9.961472E7,
      "max" : 4.294967296E9,
      "used" : 2.9753296E7
    },
    "G1 Su

[2020-10-07 19:35] danielpetisme commented on #97
I think micrometer is the good option.
Maybe it worth share the point with the upstream jhipster project. IMHO, use micrometer as standard interface rather than having a Spring oriented page could make sense.
WDYT?

[2020-10-08 07:49] avdev4j commented on #97
Maybe, we should wait. There is a chance that this kind of admin pages will no longer to the generator itself -> https://github.com/jhipster/generator-jhipster/issues/12090

We should suggest modifications to JHCC directly, WDYT?

[2020-10-12 08:25] avdev4j opened #108 "Change default branch from master to main"
According to this ticket https://github.com/jhipster/generator-jhipster/issues/11935, we need to change the name of the main branch.

[X] create branch main from master
[X] define  main branch as default
[X] protect main
[X] edit existing pull requests

As contributor what should I do?
- Run `git fetch` to get the main branch back and `git push` to update your remote fork.
- If I have an opened pu

[2020-10-12 08:53] avdev4j commented on #108
Also done for the sample Quarkus project https://github.com/jhipster/jhipster-sample-app-quarkus

[2020-10-12 08:58] #108 closed

[2020-10-12 20:09] avdev4j opened #109 "Edit README.MD to add the new blueprint avatar"
When this PR has been merged.
https://github.com/jhipster/jhipster-artwork/pull/14

[2020-10-14 02:08] mraible commented on #47
Any updates on this one @joewhite101?

[2020-10-14 02:09] mraible commented on #7
@joewhite101 If you give me permissions to add labels to this repo, I can add a bug bounty to this issue.

[2020-10-14 07:26] joewhite101 commented on #7
@avdev4j I don't think I have enough access. Can you give @mraible the access needed to add labels?

[2020-10-14 08:57] avdev4j commented on #7
I've just added @mraible as a maintainer of the project. Please Matt, tell me if is this is enough. Bug bounty labels are already created for this label.

[2020-10-14 15:09] mraible commented on #7
That worked! Thanks, @avdev4j.

[2020-10-15 11:01] GeraldScott opened #111 "Tests failing in a newly generated application with JdbcSQLException: NULL not allowed for column "ID""
**Describe the bug**
A newly generated application fails multiple tests when running `./mvnw verify`, even though the application is generated successfully, and the newly created application runs as expected.

**To Reproduce**
Steps to reproduce the behavior:

1.  Install generator-jhipster and generator-jhipster-quarkus
2.  Generate application:
[code]
3.  Run `./mvnw verify`
4.  See multiple ins

[2020-10-15 11:08] joewhite101 commented on #111
Thanks for reporting. Can you post your `.yo-rc.json` file?

[2020-10-15 12:16] GeraldScott commented on #111
[code]

[2020-10-20 19:10] nshaw commented on #109
@avdev4j , was this issue meant for generator-jhipster-quarkus or the jhipster docs, e.g. under https://github.com/jhipster/jhipster.github.io/tree/main/images/logo?

[2020-10-27 12:09] inngvar commented on #111
@GeraldScott this is fixed in main branch, wait for release or build blueprint locally and use it to generate application

[2020-11-04 10:12] GeraldScott commented on #111
@inngvar I built the blueprint locally and can confirm that the fix works.

[2020-11-06 07:05] GeraldScott opened #113 "Error when generating new application with internationalization support: Unable to find MailServiceIT.java or missing required jhipster-needle."
**Describe the bug**
If support for internationalization support is enabled, the blueprint generates an error after the Git repository has been initialized, as follows:
[code]
The error occurs when you select one or more languages for internationalization.

**To Reproduce**
Install generator-jhipster and generator-jhipster-quarkus

Generate application:
[code]
**Expected behavior**
Application sho

[2020-11-06 09:43] #95 closed

[2020-11-12 12:24] avdev4j commented on #109
sorry @nshaw
I thought about the Quarkus Readme, the avatar is already in the JHipster artwork repository.
We dit not move those new members to the website but maybe we could think about that.

[2020-11-13 13:21] #109 closed

[2020-11-19 22:15] avdev4j commented on #9
Great news !

We have a sample app with a Redis impl. Unfortunately I had to do all by myself, no abstraction is possible for the moment.

https://github.com/avdev4j/quarkus-redis-sample

[2020-11-25 16:31] avdev4j commented on #76
hi,
I think the problem is more complex than that. I've checked your branch @nshaw but I thinks should include the data partial file. At the same time we have to add conditions on entities and User to not have @Entity or any related code to Hibernate or JPA.

tests are failing because all the code related to databases are still presents and it tries to connect to a db that does not exists.

[2020-11-25 17:50] nshaw commented on #76
@avdev4j feel free to start from scratch if you have time to dig into this. I'm afraid I made a first attempt and then never made it back to it.

[2020-11-26 03:32] magick93 opened #121 "Entites menu empty after ./mvnw and npm start"
##### **Overview of the issue**
After generating a new project, then running
1) ./mvnw
1) and then `npm start`
1) and browsing to http://10.3.22.12:9000/ or http://localhost:9000 or http://localhost:9060
1) then logging in as `admin`/ `admin` or `user` / `user` I would expect that the `Entities` menu would be populated.

However its not.

##### **Motivation for or Use Case**

It is expected that r

[2020-11-26 06:30] pascalgrimaud commented on #121
@magick93 : ok, so I transfert the issue to Quarkus blueprint

[2020-11-26 17:22] avdev4j commented on #121
hi @magick93
Quarkus blueprint 0.1.6 is supposed to be used with JHipster 6.10.1. As I can see you used the 6.8.0 one.

Could you please try to use the right version and regenerate your application with your entities?

Install JHipster 6.10.1 in your working dir
`npm i generator-jhipster@6.10.1`

[2020-11-26 17:24] avdev4j commented on #76
hi @nshaw don't worry I'm working on it. Basically a important part of the generated code will be removed when selected no db.

Pleas take a look of https://github.com/jhipster/generator-jhipster-quarkus/pull/122

Have a good day

[2020-11-26 20:46] magick93 commented on #121
Hi @avdev4j

Thanks.

I tried your suggestion of running ` npm i generator-jhipster@6.10.1` in my working directory, and then ran `./mvnw` and `npm start` again, but got the same problem.

[2020-11-27 11:05] avdev4j commented on #121
hi @magick93

I think my previous message was not clear enough. The right flow is the following (all commandes could be done in a terminal)

create a working folder:
`take myProject`

Then install both JHipster and Quarkus blueprint:
[code]

Then run the generator:
`jhipster --blueprints quarkus`

Answer to the questions or copy the .yo-rc.json file you already have (be sure to change the JHipster

[2020-11-27 11:20] avdev4j commented on #121
EDIT:
My bad the Quarkus 0.1.6 is aligned with JHipster 6.8.0 so you don't need to update your JHipster version. Sorry

[2020-11-27 11:31] avdev4j commented on #74
The sample app have been updated https://github.com/jhipster/jhipster-sample-app-quarkus/pull/6
but the analysis can't be done. I think we just need to fix that and we will be able to close this ticket.

[2020-11-27 15:09] avdev4j commented on #74
The sample project is now up to date. Every time is pushed on the main branche, the sonar analysis is triggered and the JHipster sonarCloud is updated.

https://sonarcloud.io/dashboard?id=jhipster_jhipster-sample-app-quarkus&branch=main&resolved=false

[2020-11-27 15:09] #74 closed

[2020-11-27 15:58] avdev4j commented on #113
Hi @GeraldScott
I can confirme that the message does exist. Let me explain why. This generator is a blueprint, it will be called aside JHipster and override some existing generators.
In the meantime, the JHipster generator will continue to do his job where our Blueprint do not.

In this case, the language generator tries to update a MailServiceIT.java file to add the selected languages. Because wi

[2020-11-27 16:03] avdev4j commented on #113
We should a new class test named MaiServiceIT.java (https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/test/java/package/service/MailServiceIT.java.ejs).

And it have to contains the needle https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/test/java/package/service/MailServiceIT.java.ejs#L87

[2020-11-27 16:04] #111 closed

[2020-11-30 09:28] avdev4j commented on #84
I suggest to close this one since it a bit hard to reproduce.

I have installed locally both JHipster and the blueprint and I can't reproduce warnings. I wonder if this can came from dev settings and npm link usage.

Anyway, let's close it and re-open if needed.

[2020-11-30 09:28] #84 closed

[2020-11-30 19:56] avdev4j opened #126 "Add i18n handling for MailService"
During my works on https://github.com/jhipster/generator-jhipster-quarkus/issues/113 I've figured out that our MailService doesn't handle i18n in the templates.

I'd try to fix that but it seems to need more work than I expected. This is why I'm creating this issue.

The best solutions I found is relates to those links:
quarkusio/quarkus#7665
https://quarkus.io/guides/qute-reference#localization

[2020-12-02 13:39] #85 closed

[2020-12-02 13:39] avdev4j commented on #85
done by #87

[2020-12-02 13:55] avdev4j commented on #52
closed by #88

[2020-12-02 13:55] #52 closed

[2020-12-02 14:04] avdev4j commented on #71
closed by https://github.com/jhipster/jhipster.github.io/pull/1038

[2020-12-02 14:04] #71 closed

[2020-12-02 14:16] avdev4j commented on #3
@danielpetisme @joewhite101
I suggest to remove this feature from the 1.0.0 milestone. The effort needed seems to be too high.

For me, it makes sens to have a first release without reactive programming and define a plan for next version, adding this feature step by step.

[2020-12-02 16:10] danielpetisme commented on #3
Moving to reactive is a major step.
Where web and service are quite easy to migrate, data is way more tricky.
As for now, Quarkus does not provide a "reactive" ORM. This means for the application developer to write the CRUD SQL statements manually and for a code generator like JHipster... well to actually generate those queries (which is basically the job of the ORM 🤔 ).

You get my +1 to postpone

[2020-12-02 16:59] #113 closed

[2020-12-02 17:50] #76 closed

[2020-12-02 17:51] avdev4j commented on #3
I'm totally aligned with that, let's remove from 1.0.0.

[2020-12-03 11:36] avdev4j opened #129 "Upgrade to JHipster 6.10.5"
https://github.com/jhipster/generator-jhipster/releases/tag/v6.10.5

[2020-12-04 09:00] #97 closed

[2020-12-04 14:39] #9 closed

[2020-12-07 23:02] avdev4j opened #132 "Prettier Java for Quarkus"
We need to be sure that Prettier for Java is correctly applied when we generate a project and the configuration is correctly set  during the project lifecycle (Git hook, Prettier properties, package.json).

[2020-12-09 02:37] magick93 commented on #121
Ok.

FYI - Using JHipster 6.8.0 I still get the same issue.

[2020-12-09 22:00] avdev4j commented on #132
Prettier for Java can be set through the following flag: `--prettier-java`.

For v7, it will be automatically set at true by default.

[2020-12-09 22:00] #132 closed

[2020-12-09 22:15] avdev4j opened #137 "Avoid password and resetKey column to be sorted by the /users API"
related to https://github.com/jhipster/generator-jhipster/pull/12327

Check if this could be done for Quarkus too. Security fix.

[2020-12-09 23:02] avdev4j commented on #121
hi @magick93
I close this ticket because I think you did not import your entities into your applications.

you have to import a JDL file:
`jhipster jdl-import your_file_.jh`

or launch the entity generator:
`jhipster entity foo` where `foo` is your entity name.

[2020-12-09 23:02] #121 closed

[2020-12-10 15:17] danielpetisme opened #139 "Use a properties based RBAC when authentication is jwt and no database and skip user management"
**Is your feature request related to a problem? Please describe.**
With the current setup a user can create an app with a JWT authentication but neither a DB or the User management screen. In that case, authentication/authorizaton should be base on the project property files.

**Describe the solution you'd like**
https://quarkus.io/guides/security-jwt

**Describe alternatives you've considered**
N

[2020-12-10 15:29] avdev4j commented on #47
closed by https://github.com/jhipster/generator-jhipster-quarkus/pull/124

don't forget to claim your bounty @danielpetisme

[2020-12-10 15:29] #47 closed

[2020-12-10 15:47] #129 closed

[2020-12-10 15:57] pascalgrimaud commented on #47
bounty approved, good job @danielpetisme

[2020-12-10 16:26] mraible opened #143 "Generating an app with 21-Points JDL results in errors"
**Describe the bug**

If I try to generate an app with [`21-points.jh`](https://github.com/jhipster/jdl-samples/blob/main/21-points.jh), it results in an error.

**To Reproduce**

[code]

I'm guessing this happens because Quarkus doesn't have support for Elasticsearch yet.

[code]

If I remove `searchEngine elasticsearch`, it generates successfully.

However, if I try to run it, I get an error:

[

[2020-12-10 16:33] mraible opened #144 "Generating a blog app with OAuth 2.0 fails to compile"
**Describe the bug**

I tried generating an app with the [`blog-oauth2.jdl`](https://github.com/jhipster/jdl-samples/blob/main/blog-oauth2.jdl). It fails to compile.

**To Reproduce**

[code]

Unfortunately, this results in a compilation error.

[code]

[2020-12-10 16:37] mraible opened #145 "Protractor tests fail when using blog-oauth2 JDL (without entities)"
**Describe the bug**

If you generate an app with the JDL below, some Protractor tests fail:

[code]

**To Reproduce**

Copy the JDL above to a `blog-oauth2.jdl` file, then run:

[code]

Start the app with `./mvnw`, then run `npm run e2e` in a separate terminal window. A couple of the tests fail.

[code]

[2020-12-10 16:41] danielpetisme commented on #144
@mraible as for now the Oauth2 does not produce a User entity as upstream JHipster. I guess in your JDL your Blog entity has a relation to the User entity.
That's why it fails by default.
Add a custom User entity in your JDL and I'm pretty sure it will work :)

[2020-12-10 17:11] mraible opened #146 "Okta + OAuth doesn't work"
**Describe the bug**

In the generated `README`, it says:

This should be `src/main/resources/application.properties`.

I tried to configure a generated Quarkus app to work with Okta by modifying the following properties.

[code]

I got these values by running the [Okta CLI](https://cli.okta.com) and selecting Web > JHipster. Then I copied the values from the generated `.okta.env` file.

I don't t

[2020-12-11 17:32] avdev4j commented on #145
hi Matt,
this come from frontend admin pages we don't implement yet for Quarkus.

Metrics: We have micrometer metrics right now but the frontend is not able to display them
Logs: I don't have any idea of Logs status in Qaurkus, do we have any solution fo that. Otherwise we will need to disable this
Configuration: same as Logs

[2020-12-11 20:14] mraible commented on #146
FWIW, I'm certain that Quarkus + OIDC _can_ work with Okta. See an example in [Secure Kafka Streams with Quarkus and Java](https://developer.okta.com/blog/2020/04/08/kafka-streams).

[2020-12-11 20:21] danielpetisme commented on #146
Currently working on it, I'm confident!

Le ven. 11 déc. 2020 à 21:14, Matt Raible <notifications@github.com> a
écrit :

[2020-12-12 15:12] danielpetisme commented on #144
I'm not comfortable with generating User domain object when there is no user management and authentication actually managed by the application. (I'm not with the upstream generator too BTW).

In the Blog sample, we need a user mainly to fullfill the Blog ownership relation. I tend to separate the authentication/authorization aspect of the User from it's data segregation function which is domain de

[2020-12-12 19:15] mraible commented on #144
Since you're the maintainer of this blueprint, the choice is up to you. I thought it was a cool feature when I added it to the main generator because it allows you to create relationships with the `User` object, just like you can with JWT authentication. It also works in a microservices architecture.

If you try to create a JWT-based microservice with a relationship to `User`, the generation succe

[2020-12-22 15:56] mraible commented on #146
Fixed by #149.

[2020-12-22 15:56] #146 closed

[2020-12-22 17:26] avdev4j opened #153 "Fix broken admin pages"
Following this ticket https://github.com/jhipster/generator-jhipster-quarkus/issues/145

I've figured out the following admin pages are not working properly:
- [x] logs https://github.com/jhipster/generator-jhipster-quarkus/pull/161
- [x] config https://github.com/jhipster/generator-jhipster-quarkus/pull/158
- [x] audit
- [x] database https://github.com/jhipster/generator-jhipster-quarkus/pull/162

[2020-12-22 17:27] avdev4j commented on #145
Close this ticket in favor of  #153

[2020-12-22 17:27] #145 closed

[2020-12-22 17:28] mraible commented on #153
Sounds good to me!

[2020-12-22 18:47] danielpetisme commented on #146
I propose to include the post to Okta's blog in the bounty.

@mraible @avdev4j  WDYT?

[2020-12-22 18:48] danielpetisme commented on #153
The original issue had a bounty so I transfer it to  the current one.

[2020-12-22 18:54] mraible commented on #146
@danielpetisme I'm not sure what you mean. I think it's OK to claim the bounty before the post is live. That's a separate item, IMO.

[2020-12-22 19:24] danielpetisme commented on #146
I was wondering to wait for the blog post publication before claiming the bounty...

But I think you're right the blog post isn't related to the current project so I'll claim the bounty as is

[2020-12-22 19:26] avdev4j commented on #153
I'm not sure about the props page. Maybe we can implement it easily by exposing the loaded conf through the dedicated endpoint

[2020-12-22 20:14] avdev4j commented on #153
I have added metrics too

[2020-12-23 10:29] avdev4j commented on #153
I have added the possibilty to expose configurations

[2021-01-05 09:44] danielpetisme opened #157 "Provide a `/management/threadump` endpoint"
**Is your feature request related to a problem? Please describe.**
Relates to #147
Quarkus does not provide an easy way to make a thread dump as Spring does.
As consequence, the metrics page is not exactly the same between the Quarkus and Spring JHipster implementation which forces the blueprint to have custom client metrics pages (see #147).

**Describe the solution you'd like**
The expected beha

[2021-01-06 19:55] avdev4j commented on #157
closed by https://github.com/jhipster/generator-jhipster-quarkus/pull/159

[2021-01-06 19:55] #157 closed

[2021-01-11 21:56] avdev4j commented on #137
we need to implement sorting on users first. cc @danielpetisme

example:

[code]

[2021-01-11 22:08] danielpetisme commented on #137
I would build the sort object before invoking the method (just as the Page object).

[2021-01-16 19:13] #153 closed

[2021-01-18 22:59] avdev4j commented on #153
cc @pascalgrimaud
Bounty claimed here
https://opencollective.com/generator-jhipster/expenses/32055

[2021-01-19 05:46] pascalgrimaud commented on #153
@avdev4j : approved

[2021-02-16 14:21] dminkovski opened #167 "Keycloak Accesstoken does not contain groups claim - no authorization"
### **Describe the Bug**

**JDL Setup**

When you setup the quarkus application and choose to use Keycloak as the main authentication service you can login but you cannot acccess the frontend routes because there is no authorization.
This is due to the react app rendering certain routes and components only when the authorities/roles are matching.

**private-route.tsx**
`export const hasAnyAuthorit

[2021-02-16 21:12] danielpetisme commented on #167
Hi @dminkovski !
Thank you for reporting the issue.

It looks like you identify a fix. Do you think you could propose a PR?
It would be the faster way to solve the problem ;-)
I can guide you if you want to.

[2021-02-16 21:50] danielpetisme opened #168 "Add Enum imports in Entity Tests"
**Describe the bug**
When an entity use an Enumeration type, the generated test does not import properly the enum class nor items

**To Reproduce**
- Download the JDL file
https://github.com/jhipster/jdl-samples/blob/main/online-shop.jh
- Run `jhipster-quarkus import-jdl online-shop.jh`
- Once generated run `./mvnw test`
-
**Expected behavior**
The test compilation should work.

**Screenshots**
If

[2021-02-17 07:22] dminkovski commented on #167
Hi @danielpetisme !
Thank you for your quick reply.

I will try to propose a PR, appreciate any help and guidance! :)

[2021-02-17 08:34] dminkovski opened #170 "Connect Error due to MYSQL_USER not being root in DEV Mode (mariadb)"
**Describe the bug**
JDL Setup

When you setup the quarkus application and use mariadb you get a connect error because the default user of the properties is the application name whereas the config yml uses root as the username.
This can easily be fixed by changing the username to root.

`%dev.quarkus.datasource.username=root`

**To Reproduce**

1. RUN jhipster-quarkus jdl .\jhipster-jdl.jdl (authe

[2021-02-25 14:43] #7 closed

[2021-03-02 23:00] danielpetisme opened #172 "OAuth2 Native does not need `resources-config.json` file"
**Describe the bug**
When selecting an OAuth2 authentication, JHipster generates a command line for the native packaging mentioning  the `resources-config.json` file.
This `resources-config.json` file is not generated when OAuth2 authentication is chosen thus the native packaging fail.

**To Reproduce**
Create a JHIpster application selecting the `Oauth2 authentication`, runs the `mvnw package -Pn

[2021-03-03 19:24] mraible opened #175 "Add a CI job that tests the native build"
**Is your feature request related to a problem? Please describe.**

Add a GitHub Action (or other CI mechanism) that generates an app and packages it with `-Pnative`. Compilation should be enough, but running a simple test to prove it starts would probably be good too.

For GitHub actions with GraalVM, you might check out the Okta CLI's [graalvm.yml](https://github.com/okta/okta-cli/blob/master/.g

[2021-03-03 19:25] mraible commented on #143
Elasticsearch support issue at https://github.com/jhipster/generator-jhipster-quarkus/issues/80.

[2021-03-03 22:04] #172 closed

[2021-03-11 08:51] dminkovski commented on #170
This would be fixed in the PR : Added new keycloak realm config jsons for quarkus authorization bug #169

[2021-03-16 20:45] danielpetisme commented on #167
@dminkovski I finally took time to have a look at your issue and I don't like what I've found 😢 .

TL;DR: Keycloak Oauth2 is not working...

As you correctly described, once authenticated, the UI does not reflect the user's role.
This is because the JHipster Quarkus backend does not load the roles properly.
https://github.com/jhipster/generator-jhipster-quarkus/blob/main/generators/server/template

[2021-03-16 21:27] mraible commented on #167
I'm not sure if you're using Keycloak 12, but I found an issue today that our realm wasn't setting the `groups` claim for it. It works w/o this change in Keycloak 10. https://github.com/jhipster/generator-jhipster/pull/14353

[2021-03-17 09:00] dminkovski commented on #167
@danielpetisme yes absolutely! Sorry for the inconvenience but I did not know how else to describe and explain the problem.
Thanks for looking into it again. I would gladly implement a PR for this.
Will make a new PR then.
I am using keycloak 10.

Best regards

[2021-03-17 22:22] danielpetisme commented on #167
@mraible I'll need your help here... Do you know the `microprofile-jwt` claim?
It's defined in the JHipster Keycloak client scopes
![image](https://user-images.githubusercontent.com/593564/111545390-4c3eb200-8776-11eb-89b1-8e0f5dfedd74.png)
And guess what... it's mapped to the groups claim
![image](https://user-images.githubusercontent.com/593564/111545463-65476300-8776-11eb-995b-2f5c02a8cbe0.png)

[2021-03-17 22:25] danielpetisme commented on #167
Generally speaking, these are the scopes used by JHipster Spring
[code]
And these are the ones used by JHipster Quarkus
[code]

It looks like the Oauth2 Spring client is inferring the scopes to use based on the client configuration where with Quarkus it has to be explicit. We should double-check this behavior because it would mean we would have to customize the Quarkus OAuth2 scopes based on the O

[2021-03-18 00:20] mraible commented on #167
I doubt `microprofile-jwt` is a standard scope provided by OAuth. However, you can easily add it to your authorization server in Okta, just like you can with Keycloak. `offline_access` is a standard OAuth scope that says you want refresh tokens. I recommend refresh tokens for long-lived sessions.

[2021-03-18 16:26] dminkovski commented on #167
@danielpetisme exactly. That is the solution I proposed. To add the microprofile-jwt in the properties if one selects keycloak.
For me it seems like it would make sense to add that scope to the properties if keycloak is selected.
What do you propose? Should I keep the PR then where I have implemented that?

[2021-03-19 09:28] avdev4j opened #179 "Mongock is not compatible with the native build"
**Describe the bug**
Mongock is a library to help us to handle the data migration with a MongoDb database.
JHipster already uses it with Mongo and we reused the same with Quarkus.

Mongock uses `org.reflections` that cause an error when we build it with GraalVM to generate a native executable.

**To Reproduce**
Steps to reproduce the behavior:

Generate a project with MongoDb as a database.
Instal

[2021-03-19 09:39] avdev4j commented on #175
Hi there,
few things:

We can't add a native build with Mongo because of this issue: https://github.com/jhipster/generator-jhipster-quarkus/issues/179

imperative-ngx-jwt-maven-mysql-redis always reached the timeout but everything is fine in my own environment.

[2021-03-19 10:00] avdev4j commented on #175
We also need to improve the native tests that we generate to make the builds more complete. https://github.com/jhipster/generator-jhipster-quarkus/issues/49

[2021-03-26 16:28] avdev4j commented on #179
closed by #180

[2021-03-26 16:28] #179 closed

[2021-03-29 09:30] avdev4j commented on #170
is it related to it ?

https://github.com/jhipster/generator-jhipster/pull/14477#issuecomment-808906522

[2021-03-30 09:06] danielpetisme commented on #167
I double checked to understand the behavior between Spring and Quarkus.
When no claims are defined, Spring, implicitly, uses all the claims defined in the client registration configuration.
I discussed this mechanism with the Quakrus team.
https://github.com/quarkusio/quarkus/issues/15880

As for now, it's not a feature Quarkus OIDC wants to cover. That means claims as to be explicitly set.

In ou

[2021-03-30 12:21] mraible commented on #167
I think the Quarkus blueprint should work like the main generator in that you can switch from Keycloak to Okta easily.

If you don't add a `groups` claim to the ID token on Okta, you're able to log in, but can't see any entities.

Are you proposing we add another claim on Okta for Quarkus? Is it really necessary for both Quarkus with JHipster and Quarkus without JHipster? If so, we should update t

[2021-03-31 15:44] danielpetisme commented on #167
Bassically, Keycloak and Okta claims within JHipster context are not consistent. Honestly, I don't master all the claim definition, for instance why Keycloak is defining a `jhipster` claim which is not defined in Okta for instance.

My options are basically, either we generate Keycloak and Okta configurations and let dev to a manual switch to Okta if they want to or we only focus on Keycloak and r

[2021-04-07 06:41] lwitkowski commented on #4
@danielpetisme I can give it a shot with [a new extension published recently](https://github.com/TietoEVRY/quarkus-resteasy-problem) I'm contributing to that fits this issue pretty well.

I've already had a quick look, and it would save me a lot of time to know if there will be some changes needed in the frontend as well? Can frontend app leverage problem schema to display better error messages et

[2021-04-07 08:12] danielpetisme commented on #4
Hi,

The front end is already configured to handle problem payloads.
JHipster defines custom errors too that have to be translated into Quarkus Problems
https://github.com/jhipster/jhipster-sample-app/tree/main/src/main/java/io/github/jhipster/sample/web/rest/errors
The tricky part is this one
https://github.com/jhipster/jhipster-sample-app/blob/main/src/main/java/io/github/jhipster/sample/web/res

[2021-04-07 08:21] lwitkowski commented on #4
Thanks for hints, that sounds very good. `the tricky part` should just work, as ThrowableProblems are explicitly supported by our extension.
Could you also point me to specific action in UI I have to do (click) to see one of these exceptions returned from backend service and what should I see in the browser? I'll try to run sprinboot version later today to find out myself though :)

[2021-04-07 08:53] danielpetisme commented on #4
🤔
The basic errors are defined here:
https://github.com/jhipster/jhipster-sample-app/blob/main/src/main/java/io/github/jhipster/sample/web/rest/errors/ErrorConstants.java

To try to force an error, you can startup a generated app, log with the admin account (`admin`/`admin`), go to the Administration > User Management menu. Try to create a new user with an existing login for instance

[2021-04-07 09:02] lwitkowski commented on #4
Thanks again, I see that quarkus generator uses raw `WebApplicationExceptions` or even `RuntimeException` here and there, which I'll probably have to convert into `ThrowableProblem`s to fully take advantage of `application/problem+json`, but that's fine, I'm on it.

[2021-04-07 12:31] lwitkowski commented on #4
@danielpetisme you may want to have a first look at draft PR with first working implementation, I've checked both maven and gradle versions with multiple languages (but only selected subset of exceptions) - looks ok.

One thing that worries me a bit is that I didn't have to change a single test and all are green - do you think I should address it somehow and include some checks on response bodies

[2021-04-07 15:59] dminkovski commented on #167
@danielpetisme honestly it might be the best solution to just add this in the readme / properties file as comments like you suggested. If this is not to become a choice in the generator, I am not sure its worth any other overhead...
WDYT?

[2021-04-12 08:24] #175 closed

[2021-04-12 09:45] danielpetisme commented on #167
Hi all,
First of all, sorry for there is very very high latency in the answers...

As suggested by @mraible I tested the recent JHipster Keycloak configuration.
First of, JHipster Spring has explicit the claim required
https://github.com/jhipster/jhipster-sample-app-oauth2/blob/e334ed50a82346b26f8edf0d69173c3962d75813/src/main/resources/config/application.yml#L138

That means Quarkus and Spring ap

[2021-04-15 10:20] #4 closed

[2021-04-15 12:15] dalexandrov opened #186 "TypeError: jhContext.setupServerOptions is not a function"
Hello,
everytime I use `jhipster --blueprints quarkus`

and answer `? What is the base name of your application?`

[code]

-   OS: Big Sur
-   JHipster: 7.7.6

[2021-04-15 12:22] avdev4j commented on #186
Because you are using it with a JHipster 7. This blueprint is not compatible with JHipster 7 yet.
If you have installed the blueprint globally (through npm -g or npm link commands) I suggest you use `jhipster-quarkus` instead.
It will launch the right JHipster version (aka the one declared in the package.json blueprint).

[2021-04-15 12:22] #186 closed

[2021-04-15 12:33] dalexandrov commented on #186
thank you!

[2021-04-15 12:35] avdev4j commented on #186
You're welcome

[2021-04-21 07:56] ebrahimahmadi commented on #167
If we add the below configuration to the web_app client, we will have the user group in the JWT claim.
This will add a built-in group mapper to the web_app client. After adding group mapping either manually or with configurations, the `accessToken.getClaim("groups")` and `@RolesAllowed` annotation works.

`src/main/docker/realm-config/jhipster-realm.json`
[code]

[2021-04-21 09:09] ebrahimahmadi opened #187 "jhi_user table doesn't create a newly made user after registering a new using keycloak"
**Describe the bug**
I have enabled user registration in the keycloak. But after registering new users, the jhi_user table does not receive new users created in keycloak.

**To Reproduce**
Steps to reproduce the behavior:

1.  Generate a new Quarkus application using the "jhipster-quarkus."
2.  Add keycloak as the stateful authenticator
3.  Once you're in keycloak, you can edit your Realm settings

[2021-04-21 13:12] mraible commented on #187
In the main generator, the user is synced with the JHipster database when the user logs in.

It works, but it's not an excellent solution. A better solution would be to implement SCIM.

https://developer.okta.com/docs/concepts/scim/

Unfortunately, Keycloak doesn't support it yet.

https://stackoverflow.com/q/58566587/65681

[2021-04-22 08:55] ebrahimahmadi commented on #187
So, should the jhipster-quarkus behave in the same manner that the main Jhipster generator does? I mean, should it create a new user after their first login?

[2021-04-22 13:22] mraible commented on #187
If you have a better solution that works with Keycloak and Okta, I'd love to hear about it.

[2021-04-22 14:40] ebrahimahmadi commented on #187
I wondered about keeping everything about users in the keycloak and using soft relations to relate application entities and users.

My initiation thinking is something like the application that must tie every single order to a user. Instead of creating the jhi_user table, syncing keycloak data, and relating with orders through a foreign key, we can store the user's UID coming from the keycloak for

[2021-04-22 14:41] ebrahimahmadi commented on #187
By the way, the functionality to create users after their first login seems not to work properly.

[2021-04-22 15:07] mraible commented on #187
I implemented things the way I did so developers could just use JPA (or NoSQL, or whatever they're using) and not have to deal with REST calls to the OAuth identity provider. Especially since identity providers might implement things differently and we'd have to add logic for Keycloak, Okta, Auth0, Microsoft, etc. Also, OIDC has no standard way to query an IdP for all the users, so it'd be difficu

[2021-05-14 17:42] danielpetisme opened #192 "ClassNotFoundException: org.jacoco.agent.rt.internal #9"
See https://github.com/jhipster/jhipster-sample-app-quarkus/issues/9

[2021-05-14 17:42] danielpetisme opened #193 "Unable to find H2 JDBC driver #8"
See https://github.com/jhipster/jhipster-sample-app-quarkus/issues/8

[2021-05-24 12:37] dieppa commented on #179
I have just realised about this ticket and it seems that has been somehow sorted out.

However is there anything that we can provide natively from Mongock to help on this or improve.

Just let me know.

[2021-06-07 11:57] agoncal commented on #193
@danielpetisme in the pom.xml` you have two dependencies: the H2 for test purposes:

[code]

But then you have H2 in the `dev` profile:

[code]

That means that, to make the application work, you cannot use `mvn quarkus:dev` but instead `mvn -Pdev quarkus:dev`. This is not very intuitive as Quarkus does not do that out of the bow.

[2021-06-08 16:29] #192 closed

[2021-06-12 05:57] agoncal commented on #193
I've also spotted a few differences. Today the H2 JDBC URL is

[code]

So when the app starts, we have:

[code]

If you read the [H2 documentation](http://www.h2database.com/html/features.html#in_memory_databases), you find that: "To access an in-memory database from another process or from another computer, you need to start a TCP server in the same process as the in-memory database was created."

[2021-06-12 05:58] agoncal commented on #193
Also,  `TestResources.java` can be avoided if the dependency:

[code]

is changed to:

[code]

[2021-06-20 06:04] agoncal opened #209 "In Quarkus 2.x the Qute APIs have changed"
**Describe the bug**

When migrating the code to Quarkus 2.x the `MailService` does not compile anymore because the `io.quarkus.qute.api.ResourcePath` is not found.

**Additional context**

Qute has a [parent POM](https://mvnrepository.com/artifact/io.quarkus.qute/qute-parent), it could be a good idea to use it.

**References**

* Discussion in Zulip : https://quarkusio.zulipchat.com/#narrow/strea

[2021-06-21 06:53] agoncal commented on #209
`io.quarkus.qute.api.ResourcePath` has been renamed to `io.quarkus.qute.Location`

[2021-06-21 16:13] agoncal commented on #209
See https://github.com/jhipster/generator-jhipster-quarkus/commit/7eab08ba40bb594f39d47b0896aad4f6ccfea79f

[2021-06-21 16:13] #209 closed

[2021-06-22 14:06] agoncal opened #213 "Migrating Mongo to DevServices"
**Describe the bug**

Today the generated application that use MongoDB as a primary database, use Mongock for testing. We should use DevServices instead. But some migration is needed

**Migrating Configuration**

Today the Mongo configuration is as follow:

[code]

The end result should look like:

[code]

**Migrating Test Configuration**

`MongoDbTestResource`.

**Pom.xml**

We can get all the de

[2021-06-22 14:07] agoncal commented on #193
See https://github.com/jhipster/generator-jhipster-quarkus/pull/206/commits/bda7de4c19147a729fc5c49429e3cb6c18ae1267

[2021-06-22 14:07] #193 closed

[2021-06-23 20:25] agoncal commented on #213
There is an authentication problem. All the tests in `UserResourceTest` fail with

[code]

[2021-06-27 06:14] agoncal commented on #213
Here are some differences between the Mongo and SQL setup and code:

* `InitialSetupMigration.java`: Creates the initial database setup
* `MongockConfiguration.java`
* `reflect-config-mongo.json`
* `MongoDbTestResource.java`

[2021-06-30 16:10] agoncal opened #214 "Migrating from @ConfigProperties to @ConfigMapping"
**Describe the bug**

`@ConfigProperties` has been deprecated in Quarkus 2.0. We need to use `@ConfigMapping` instead. Today there are two classes that configure the app that use `@ConfigMapping`: `JHipsterProperties` and `JHipsterInfo`.

See: see https://quarkus.io/version/main/guides/config-mappings

**Migrating**

We could maybe merge  `JHipsterProperties` and `JHipsterInfo` into a single class

[2021-07-07 08:13] gerlicher opened #217 "Cannot use Blueprint on MacBookPro with M1"
**Describe the bug**
When starting the blueprint after answering the first question "What is the base name of your application?" it crashes with the following error:

[code]

**To Reproduce**

Running on this machine:

macOS Big Sur
Version 11.4

MacBook Pro (13", M1, 2020)
16 GB RAM

Installed JHipster using the npm description at: https://www.jhipster.tech/installation/

Java Version:
openjdk ve

[2021-07-07 20:04] avdev4j commented on #217
Hi @gerlicher,
This error occurs because you are using the last JHipster version (the default one that come with the npm installation - 7.1.0) but the blueprint only support the last JHipster 6 version.

You can try to install it by using "@6.10.5" when you install JHipster npm install -g generator-jhipster@6.10.5 or even better run the JHipster quarkus command to run both the blueprint and the ri

[2021-07-08 07:40] gerlicher commented on #217
Hi @avdev4j,

thanks, very much. This solved the issue. It worked after installing the correct (old) hipster version.
But when trying to run the generated project with maven I now get the following error:

But my installed java version is: 11.0.9
This is what I get, when I run java --version:

Do you have any idea, why this happens?

Thanks very much!

[2021-07-08 07:40] #217 closed

[2021-07-10 06:31] agoncal commented on #214
Looks like we can do something like that. I need to test this:

[code]

[2021-07-26 14:41] agoncal commented on #214
Had to wait for Quarkus 2.1.0.Final to fix it

https://github.com/jhipster/generator-jhipster-quarkus/pull/206/commits/b01e18fab65c0b0b5214094c15a7126fad4ab72a

[2021-07-26 14:41] #214 closed

[2021-08-10 01:42] GeraldScott opened #220 "Tests for REST controllers fail when the size of the test data set exceeds the page request size in PageRequestVM"
**Describe the bug**
Tests for REST controllers fail when the size of the test data set exceeds the page request size in PageRequestVM when pagination is implemented.

The tests fail because they use the size of the array returned by the `.get("/api/<%= entityApiUrl %>")` clause as a proxy for the size of the dataset in the database.

This is not correct because the size of the array is limited to

[2021-08-10 01:52] GeraldScott commented on #220
The pagination shows the correct number of items in the HTML. It gets the total from the response header (see `this.totalItems = Number(headers.get('X-Total-Count'));`), so this could be used in the test instead of testing the array size.

[2021-08-10 06:29] GeraldScott commented on #220
I have made a first attempt to fix the problem [see here](https://github.com/GeraldScott/generator-jhipster-quarkus/tree/v1.1.1) but I have not submitted a pull request because I am using an older version of the generator, but the fix may assist others while work on 2.0 continues.

[2021-08-10 18:53] mraible opened #221 "v1.1.1 release is missing on GitHub"
v1.1.1 is available on [npm](https://www.npmjs.com/package/generator-jhipster-quarkus). However, it doesn't show as the lastest [release on GitHub](https://github.com/jhipster/generator-jhipster-quarkus/releases).

[2021-08-10 19:30] mraible opened #222 "JHipster Quarkus can't build native image with latest version of GraalVM (21.2.0.r11-grl)"
If I try to perform the steps in [this demo script](https://github.com/oktadev/okta-jhipster-quarkus-example/blob/main/demo.adoc) (which is based on [this blog post](https://developer.okta.com/blog/2021/03/08/jhipster-quarkus-oidc)) with GraalVM 21.2.0.r11-grl. It seems to work, but running the executable does not work.

[code]

If I downgrade to `21.0.0.2.r11-grl`, it works:

[code]

**To Reprodu

[2021-08-23 12:43] danielpetisme opened #227 "JHipster quarkus checking JHipster version seems broken"
**Describe the bug**
When using the Jhipster Quarkus generator from the main branch, the generator fails due to the sanity checks.

**To Reproduce**
Steps to reproduce the behavior:

[code]
generator-jhipster-quarkus@2.0.0-beta.1 /Users/dpetisme/workspace/jhipster/generator-jhipster-quarkus
└── generator-jhipster@7.1.0

[code]

**Expected behavior**
The generation should work.

**Screenshots**
If

[2021-08-23 12:59] avdev4j commented on #227
I confirm the bug, reproduced here.

[2021-08-23 13:20] danielpetisme commented on #227
@mshima @mraible did you tried the last version of the main branch? Does it work for you?

[2021-08-23 13:42] mshima commented on #227
Have you tried `npm install -g generator-jhipster@7.1.0`?

[2021-08-23 13:47] mshima commented on #227
We probably should update the error message showing current jhipster version too.

[2021-08-23 14:03] avdev4j commented on #227
@mshima It's really strange because now I had run `npm install -g generator-jhipster@7.1.0` it works. Previously I ran `npm install -g generator-jhipster` (7.1.0 is the last one).

[2021-08-23 14:04] mshima commented on #227
If you have generator-jhipster@6 installed, `npm install -g generator-jhipster` will not update it.
You need to execute `npm install -g generator-jhipster@latest`.

[2021-08-23 14:08] avdev4j commented on #227
but I ran `jhipster --version` with a successful 7.1.0 version printed.

[2021-08-23 14:15] mshima commented on #227
That's a problem of the local/global workaround:
[code]

I really I hate this behavior when is easy to use `jhipster` for global and `npx jhipster` for local. Which is the node standard.
I will propose to drop this local/global hack for jhipster 8.

[2021-08-23 14:21] avdev4j commented on #227
hmmm, yep strange because I'm sure I did not have a local installed version.

[2021-08-23 14:32] avdev4j commented on #227
I close this one, since we have a solution

[2021-08-23 14:32] #227 closed

[2021-08-23 14:39] avdev4j commented on #222
Have you tried before upgrading GraalVM? Because we have several native builds that don't succeed atm: https://github.com/jhipster/generator-jhipster-quarkus/actions/runs/1157084906

[2021-08-23 14:48] avdev4j commented on #221
Done!

https://github.com/jhipster/generator-jhipster-quarkus/releases

[2021-08-23 14:48] #221 closed

[2021-08-23 14:48] mraible commented on #222
@avdev4j Yes. If you look at my comment above, it works with the previous version.

[2021-08-23 15:06] avdev4j commented on #221
(2.0.0 Beta 1 too)

[2021-08-23 15:08] avdev4j commented on #222
I missed that.
The Native builds have been very hard to fix, now we are moving to Quarkus 2, I think we should first finish this migration and then fix all the builds. I'm afraid incoming work will break them again.

[2021-09-20 14:54] aminnasiri opened #228 "Support latest version of Quarkus"
**Is your feature request related to a problem? Please describe.**
Yes, I need to run JHipster by the latest version of Quarkus which has lots of features.

**Describe the solution you'd like**
I worked a bit on this template of the project and it seems, there are a few things to be able to use Quarkus 2.* e.g.
Eclipse ConfigProperty and ConfigMapping

**Describe alternatives you've considered**
A

[2021-09-21 01:50] mraible commented on #228
I agree this would be good. I believe this support is in the `main` branch. I added a bounty to encourage a release. 🤓

[2021-09-21 01:51] mraible commented on #220
Added bug bounty to get this fixed. Please submit a PR if you have time.

[2021-09-21 01:52] mraible commented on #187
Added bug bounty to get this fixed.

[2021-09-21 01:54] mraible commented on #167
Increased bug bounty on this one to $300.

[2021-09-21 02:32] skkrishn1 commented on #228
Matt
I can support this project , I'm having 15 yrs experience in Java platform, let me know

Thanks
Suresh K

[2021-09-21 02:37] mraible commented on #228
@skkrishn1 Please see our [bug bounty docs](https://www.jhipster.tech/bug-bounties/) for information on how we pay contributors.

[2021-09-21 12:37] avdev4j commented on #222
this ticket makes me think we should fix all the native builds, the main branch is not stable yet since we are upgrading to Quarkus 2.

[2021-09-21 12:40] avdev4j commented on #3
feel free @vivekmore
I think @danielpetisme already prepare the field by creating partials. Anyway, we should avoid the mess we have on the official JHipster project mixing reactive and not in the same templates (as most as possible).

[2021-09-21 14:37] mraible commented on #213
Added a bug bounty to increase motivation.

[2021-09-22 08:13] danielpetisme commented on #3
Hi,

I started a long time ago but I crash my machine and lost the code (yes it happens in real life...).
Anycase, feel free to progress on this one.

A couple of advice:
1- isolate the imperative and reactive code in separate partials. I would recommend to isolate in a per method granularity (like `list_imperative.ejs` and `list_reactive.ejs` it's way easier to debug.

2- For now, do not try to h

[2021-09-22 13:50] vivekmore commented on #3
Thank you 👍🏻
These are great advice and starter points!

I'll start looking at the blueprint code and Quarkus.

I feel I should also declare that, I'm mostly familiar with JHipster generator code and Spring and am new to Quarkus framework.

[2021-09-23 17:10] skkrishn1 commented on #228
Thanks Matt , sorry for the late reply.could you please help me out in
setting up the environment ? I will try to fix the bugs.

Thanks
Suresh K

On Mon, Sep 20, 2021, 10:37 PM Matt Raible ***@***.***> wrote:

[2021-09-23 17:11] mraible commented on #228
@skkrishn1 There are [instructions in this project's README](https://github.com/jhipster/generator-jhipster-quarkus#running-local-blueprint-version-for-development).

[2021-09-23 17:17] skkrishn1 commented on #228
Thanks Matt , will see the instruction, and  I accepted the meetup invite
will see you on Sep 29 SF JUG 👍.

Thanks
SK

On Thu, Sep 23, 2021, 1:12 PM Matt Raible ***@***.***> wrote:

[2021-10-06 13:02] GeraldScott opened #229 "Test suite failed to run with error "It looks like your application or one of its dependencies is using i18n.""
**Describe the bug**
Running `npm test` on a newly generated application fails with:
[code]

**To Reproduce**

1.  Generate a new application using the `yo-rc.json` file shown below
2.  Run `npm test`

**Expected behavior**
Test should pass with no failures

**Additional context**
Note that `angular/localize` is included in `package.json` but is not visible in the test suite.

The Workaround is to

[2021-10-31 02:23] GeraldScott commented on #229
I reinstalled Node LTS 14 (for unrelated reasons). Since then, I have regenerated several new jhipster-quarkus projects and the problem has NOT recurred.

I am therefore closing this issue.

[2021-10-31 02:23] #229 closed

[2021-10-31 05:41] GeraldScott commented on #187
I don't have a solution (well, not yet, but I am working on it) but note that it is helpful to separate the problem into two concerns:
- management of personal information, which is application-specific, and
- identity and access management which is the domain of OIDC

Trying to get the IDP to manage both conflates the concept of the user as a person with the concept of a user who has a login. The

[2021-11-01 03:34] GeraldScott opened #230 "Tests fail on a freshly generated project because H2 JDBC driver is missing"
**Describe the bug**
Running `./mvnw test` on a freshly generated project does not execute all the tests and does not throw any errors.

Running the test in an IDE shows that Quarkus is failing to load the JDBC driver for H2:
[code]

**To Reproduce**
Run the generator in an empty folder and immediately run the tests:
[code]
The `yo-rc.json` is as follows:
[code]
**Expected behaviour**
All Tests sh

[2021-11-01 07:28] GeraldScott opened #231 "Tests fail silently when Liquibase fails to initialize"
**Describe the bug**
If Liquibase fails to initialize when running `./mvnw test` on a project, the tests that depend on the test database fail silently and do not log any errors.

The tests generate a Warning, but they run to completion and `./mvnw clean install` will succeed even though multiple test suites have failed.
[code]

**To Reproduce**
This issue was triggered by #230, but also occurs an

[2021-11-01 09:22] GeraldScott opened #232 "Missing Swagger dependency: "package io.swagger.annotations does not exist""
**Describe the bug**
`jhipster-quarkus import-jdl` generates entities that are annotated with `@ApiModel` but the generator does not automatically include the Swagger dependency.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a clean, empty project using`jhipster-quarkus`
2. Add the missing H2 JDBC dependency with `./mvnw quarkus:add-extension -Dextensions="quarkus-jdbc-h2"` to fix

[2021-11-03 01:38] wanghengxn opened #233 "Missing package.json when using --skip-client"
**Describe the bug**
Using option '--skip-client', can't find the package.json file in generated code.

**To Reproduce**

1.  jhipster --blueprints quarkus --skip-client

**Expected behavior**
generate a package.json

**Screenshots**
[code]

**Desktop (please complete the following information):**

-   OS: MacOS
-   Version jhpster version 6.10.5

[2021-11-15 11:59] avdev4j commented on #175
claimed here https://opencollective.com/generator-jhipster/expenses/55573

[2021-11-15 12:14] pascalgrimaud commented on #175
@avdev4j : approved

[2022-01-19 18:41] dmadunic opened #235 "Application generation does not work at all with latest v2.0.0-beta.1 version"
**Describe the bug**
jhipster generator fails to generate application when invoked with latest v2.0.0-beta.1 version of quarkus plugin.

**To Reproduce**
Steps to reproduce the behavior:

1.  Checkout jhipster/generator-jhipster-quarkus
2.  Link generator
3.  Create new folder, and link generator inside of it: npm link generator-jhipster-quarkus
4.  Run: jhipster --blueprint quarkus

**Expected be

[2022-01-19 21:42] dmadunic commented on #235
It does work with jhipster version 6.10.5 though ...

[2022-01-20 17:30] #235 closed

[2022-01-20 17:38] dmadunic opened #236 "Implement Sort on rest endpoints/services that return list of entities"
**Is your feature request related to a problem? Please describe.**
At the moment frontend apps properly add sorting params to http request, yet they are ignored on backend, and only paging is applied to fetching data from database.
For example services findAll() methods in their signature have only Page param, and Sort variable that is created in Rest Controller is not used at all.

**Describe the

[2022-01-20 18:23] dmadunic commented on #236
Though, I am not proficient with writing jhipster blueprints i am willing to submit PR for this. It seems like rather easy fix.

[2022-02-05 21:57] eucariop opened #237 "Svelte Frontend support"
Some ideas Svelte module for JHipster Quarkus compatible.
How does the implementation work together or separately.
There is reference Svelte for Spring: https://github.com/jhipster/generator-jhipster-svelte.

I await your comments, greetings

[2022-02-17 08:16] mraible commented on #222
Raising bounty so I can make some money when I fix this. :)

[2022-08-08 03:47] mraible commented on #237
You should be able to install two blueprints at a time. I haven't tried it myself, but please report on your progress if you try.

[2022-08-08 03:48] mraible commented on #228
Is anyone able to work on this? If not, I can dedicate some time this week.

[2022-08-08 16:33] VeitWeber commented on #228
@mraible Maybe I can support you. Just give me a sign.

[2022-08-09 03:53] mraible commented on #228
@VeitWeber Take it away! I can help if you have questions or run into issues.

[2022-08-09 09:13] VeitWeber commented on #228
@mraible Nah, wasn't my intention. I'm experienced with JEE / Quarkus and would love to deep dive into JHipster...but miles to go ;).

[2022-09-10 13:59] mraible commented on #237
Closing due to lack of response.

[2022-09-10 13:59] #237 closed

[2022-09-10 14:05] mraible commented on #213
@agoncal Are you interested in continuing this work? I'd like to see this blueprint succeed and I'm willing to help make it happen.

[2022-09-10 14:06] mraible opened #245 "Upgrade to JHipster 7.9.3"
**Is your feature request related to a problem? Please describe.**

Upgrade to the latest release of JHipster. This might require refactoring to use the latest blueprint architecture.

[2022-09-10 14:26] mshima commented on #245
It’s already using v7 at main, I don’t think it needs another refactoring right now, I will take a look.

[2022-09-14 19:36] agoncal commented on #213
@mraible  unfortunatelly I won't be able to work on that, too much on my plate :o(

[2022-09-28 20:12] karstengresch opened #246 ""ERROR! This is a JHipster blueprint and should be used only like jhipster --blueprint quarkus""
**Describe the bug**
Running

[code]

results in the error message

[code]
Also w/o the 's' in 'blueprints', the behavior remains the same:

[code]

**To Reproduce**

1.  Install latest JHipster, Yeoman and node LTS (here: 16.17.1, npm 8.15.0, yo 4.3.0)
2.  Run ```jhipster --blueprints quarkus```, alternatively ``` jhipster --blueprint quarkus```
3.  See error

**Expected behavior**
The "JHIPSTER

[2022-10-01 18:05] vishal423 commented on #245
I started looking into the `quarkus` and will see if I can contribute. Meantime, I believe this upgrade should be independent of quarkus and can be done independently. I can take a look if not already been handled.

[2022-10-01 22:30] mraible commented on #245
Please do @vishal423. I'll have time in November, but that's a ways off.

[2022-10-04 23:35] yacosta738 commented on #246
same problem in Linux

![bitmoji](https://sdk.bitmoji.com/render/panel/4a737c47-e262-44e8-b96e-66d11bb30cab-db1ffc10-9e7f-4bea-a043-e744f59d5043-v1.png?transparent=1&palette=1&width=246)

[2022-10-05 04:52] vishal423 commented on #246
Can you try changes from below PR to see if that works for you?

https://github.com/jhipster/generator-jhipster-quarkus/pull/247

[2022-10-05 19:51] yacosta738 commented on #246
@vishal423 I try with #247 and it works perfectly. Thank you  👏

[2022-10-05 21:00] avdev4j commented on #246
@yacosta738 I guess It's because you tried to use the blueprint with an unsupported version of JHipster. Downgrading the version of JHipster should work before vishal's work.

[2022-10-06 04:35] vishal423 commented on #228
I have started on maven part to bump dependencies to latest. I will soon raise a draft PR.

[2022-10-13 04:17] vishal423 opened #248 "Broken OIDC authentication flow"
**Describe the bug**

OIDC authentication flow seems broken as the application fails to redirect to Keycloak/OIDC providers to authenticate

**To Reproduce**
Generate application with OIDC authentication type. Start services and on clicking login, you shall see a JSON response on browser

**Expected behavior**
Should redirect to OIDC providers to authenticate

**Screenshots**

**Desktop (please co

[2022-10-13 04:24] vishal423 opened #249 "User create/update UI flows broken"
**Describe the bug**
User create/update UI flows doesn't populate the authorities and displays an error response

**To Reproduce**
- Generate an application with JWT authentication type. Start services and navigate to User Management --> Create/Update screen

**Expected behavior**
No error prompt should appear and admin shall be able to add/update users

**Screenshots**
If applicable, add screensh

[2022-10-13 04:34] vishal423 opened #250 "Enhance CI workflows to execute cypress e2e tests"
**Is your feature request related to a problem? Please describe.**

Many code flows/paths don't work out of the box in the current blueprint code. Cypress e2e tests integration in CI workflows will help to detect such occurrences in common supported combinations.

**Describe the solution you'd like**
Enhance CI workflows to run cypress e2e tests

**Describe alternatives you've considered**
N/A

**

[2022-10-14 21:59] vishal423 commented on #222
Post upgrade, I don't see an issue with native image build/startup. Can you try latest branch code to see if this works for you as well?

[2022-10-17 20:57] vishal423 commented on #222
With #247 changes, I tried using `22.2.r17-grl` Graal VM image and didn't observe the issue. You now need to explicitly specify the quarkus profile to use for native image build like `./mvnw package -Pnative,prod -DskipTests`

[2022-10-19 21:21] mraible commented on #248
Do you have a link to the Quarkus problem library?

[2022-10-19 23:32] mraible commented on #248
I was able to use the following code to change the `oauth2/authorization/oidc` request's 401 response from JSON. However, it still doesn't redirect to Keycloak.

[code]

[2022-10-19 23:51] mraible commented on #248
FYI... @ebullient

[2022-10-20 06:51] lwitkowski commented on #248
@vishal423 I'll have a look today, one option is missing `WWW-Authenticate` header but I have to investigate it first to draw any conclusions :)

[2022-10-20 16:04] lwitkowski commented on #248
@vishal423 would you mind bumping `resteasy-problem.version` to 2.1.0 which I've just released and synced with maven central? I've tested it on your jhipster blueprint branch and login functionality works fine.

The problem I see there though is missing `GET /api/account` endpoint called from frontend, but I don't think it has anything to do with problem extension.

[2022-10-20 18:37] mraible commented on #248
@lwitkowski I can confirm that upgrading to RESTEasy Problem 2.1.0 solves the problem. Thank you!

[2022-10-20 20:31] vishal423 commented on #248
Thanks for quick turn around. I see Matt has already verified and bumped the version. I am traveling and wouldn't have access to laptop before mid November to test.

[2022-10-20 20:34] mraible commented on #248
Closing because this is fixed in #247.

[2022-10-20 20:34] #248 closed

[2022-10-20 20:35] #245 closed

[2022-10-20 20:35] #213 closed

[2022-10-20 20:35] #222 closed

[2022-10-20 20:35] #228 closed

[2022-10-20 20:51] mraible commented on #222
I was able to successfully build a native image with GraalVM CE 22.2.0 using `mvn package -Pnative,prod`. However, when I try to start it with `target/*runner`, there's an error:

[code]

If I change `application.properties` from:

[code]

To:

[code]

... it works!

However, the app doesn't start because it can't connect to MySQL and there's no Docker Compose file created for MySQL.

[2022-10-20 21:29] mraible opened #251 "Unable to run native image after building"
I was able to successfully build a native image with GraalVM CE 22.2.0 using `mvn package -Pnative,prod`. However, when I try to start it with `target/*runner`, there's an error:

[code]

If I change `application.properties` from:

[code]

To:

[code]

... it works!

However, the app doesn't start because it can't connect to MySQL and there's no Docker Compose file created for MySQL.

Here's the `

[2022-10-20 21:30] mraible commented on #222
I created https://github.com/jhipster/generator-jhipster-quarkus/issues/251 to track the changes needed for Keycloak and MySQL to run a native image.

[2022-10-20 21:31] vishal423 commented on #222
I probably missed to remove the dev profile scope from properties. For MySql image compose definition, you can refer to app.yml.

[2022-10-20 21:40] mraible commented on #251
@mshima Do you know how to modify this blueprint to include the database files from the main generator in `src/main/docker`? I think something needs to change at https://github.com/jhipster/generator-jhipster-quarkus/blob/main/generators/server/files.js#L643.

[2022-10-21 01:53] mshima commented on #251
@mraible indeed. We need a new generator-jhipster release with https://github.com/jhipster/generator-jhipster/pull/20069.

[2022-10-21 05:22] mraible commented on #251
@mshima I created https://github.com/jhipster/generator-jhipster-quarkus/pull/253 as a workaround until the next JHipster release.

[2022-10-21 13:06] mshima commented on #251
@mraible updated the PR so we don’t need to copy the templates and wait for new release.

[2022-10-21 15:35] mraible commented on #251
@mshima Thanks! Please merge #252 at your convenience.

[2022-10-21 17:53] #251 closed

[2022-10-21 17:58] mshima commented on #251
I don't have permission on this repo

[2022-10-21 18:02] mraible commented on #251
It doesn't look like I can give them to you either. Please collect the bounty for solving this problem!

[2022-10-21 18:03] mshima commented on #251
No problem.

[2022-10-29 18:29] mraible opened #256 "Release 2.0 version of this blueprint"
Since this blueprint is up-to-date, we should do a release. If there's any other issues or PRs that you think should be included, please add a comment.

[2022-10-30 11:27] vishal423 commented on #256
I think we should address #249 and issues identified as part of #225

[2022-11-12 13:53] vishal423 opened #258 "Use quarkus-test-security in unit tests to simplify unit tests"
**Is your feature request related to a problem? Please describe.**

The current approach requires you to authenticate against the Restful endpoint, retrieve the JWT token and use that to invoke the actual test. Though this approach sounds fine in end-to-end tests, it slows the unit test feedback loop, while testing unrelated concerns along each test. Quarkus provides a separate package `quarkus-te

[2022-11-12 14:57] vishal423 opened #259 "Analyse and fix registration flow cypress test failures"
**Describe the bug**

Refer discussion https://github.com/jhipster/generator-jhipster-quarkus/pull/225#issuecomment-1287700710

**To Reproduce**

Refer CI workflow

**Expected behavior**
E2E tests should succeed

**Screenshots**
N/A

**Desktop (please complete the following information):**

N/A
**Smartphone (please complete the following information):**

N/A

**Additional context**
Add any other c

[2022-11-13 08:48] #249 closed

[2022-11-14 03:48] vishal423 commented on #250
Closed by #260

[2022-11-14 03:48] #250 closed

[2022-11-24 04:02] #259 closed

[2022-11-26 06:24] vishal423 opened #262 "e2e test failure in application generated using imperative-ngx-jwt-maven-mongodb-caffeine.jdl"
**Describe the bug**

Cypress end-to-end tests fail for applications generated with `imperative-ngx-jwt-maven-mongodb-caffeine.jdl`. It probably points to some backend issue. We should analyze and fix the problem to improve CI stability and improve quality of generated applications.

**To Reproduce**
Steps to reproduce the behavior:

Refer CI workflow to generate and test the application

**Expect

[2022-11-26 06:30] vishal423 opened #263 "CI server test failure in application generated using imperative-react-jwt-gradle-mysql-caffeine.jdl"
**Describe the bug**

`npm` scripts running backend tests require `webapp_test` gradle task to run frontend tests.

**To Reproduce**
Steps to reproduce the behavior:

Refer CI workflow to generate and test the application

**Expected behavior**
Tests should pass

**Screenshots**
https://github.com/jhipster/generator-jhipster-quarkus/actions/runs/3537602301/jobs/5937714592

**Desktop (please comple

[2022-11-26 06:44] vishal423 opened #264 "e2e test failure in application generated using imperative-sql-jwt-maven-no-db.jdl"
**Describe the bug**

Cypress end-to-end tests fail for applications generated with `imperative-sql-jwt-maven-no-db.jdl`. It probably points to some backend issue. We should analyze and fix the problem to improve CI stability and improve quality of generated applications.

**To Reproduce**
Steps to reproduce the behavior:

Refer CI workflow to generate and test the application

**Expected behavior

[2022-11-26 06:45] vishal423 opened #265 "e2e test failure in application generated using imperative-ngx-oauth2-maven-mysql-caffeine.jdl"
**Describe the bug**

Cypress end-to-end tests fail for applications generated with `imperative-ngx-oauth2-maven-mysql-caffeine.jdl`. It probably points to some backend issue. We should analyze and fix the problem to improve CI stability and improve quality of generated applications.

**To Reproduce**
Steps to reproduce the behavior:

Refer CI workflow to generate and test the application

**Expec

[2022-11-27 06:27] vishal423 opened #266 "Scheduled Native CI workflow jobs are failing with h2 dependency error"
**Describe the bug**
Scheduled Native CI workflow jobs are failing due to h2 dependency with following stack:
[code]

**To Reproduce**
Refer CI workflow steps

**Expected behavior**
CI should pass

**Screenshots**
Refer https://github.com/jhipster/generator-jhipster-quarkus/actions/runs/3556440042/jobs/5973805817

**Desktop (please complete the following information):**

N/A

**Smartphone (please